name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-scan-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build the Docker image
        run: |
          IMAGE_TAG=ghcr.io/${{ github.repository }}:$(date +%s)
          docker build . --file Dockerfile --tag $IMAGE_TAG
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@v0.10.1
        with:
          image-ref: ${{ env.IMAGE_TAG }}
          format: table
          exit-on-vuln: true

      - name: Push the Docker image
        run: docker push $IMAGE_TAG
